training
train.csv
train.txt
train.bak.txt
dictionary.js
dictionary.json
tokens.json
tokens.msgpack
dictionary.msgpack
dictionary-fingerprint.js
dictionary-anchors.js
dictionary-properties.js
.DS_Store
__pycache__
