textarea {
  display: block;
  width: calc(100vw - 25px);
  max-width: 500px;
  height: 250px;
  font-size: 14px;
}

#suggestion {
  cursor: pointer;
  color: white;
  font-style: italic;
  border-radius: 5px;
  background: cornflowerblue;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#suggestion.two_word {
  background: teal;
}

#suggestion.three_word {
  background: lightgreen;
  color: black;
}

.color_box {
  display: inline-block;
  height: 14px;
  width: 14px;
}
